* {
	box-sizing: border-box;
	margin: 0;
}
body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

#box {
	width: 200px;
	height: 200px;
	border-left: 3px solid tomato;
	border-bottom: 3px solid tomato;
	transition: transform 1s ease;
}
